body{}
#ipagel{
    float: left;
    width: 647px;
    height: 98px;
    border: 1px solid transparent;
    text-align: center;
}
#ipager{
    float: right;
    width: 647px;
    height: 98px;
    border: 1px solid transparent;
    text-align: center
}
.clearipage{
    clear: both;
}
#midl{
    float: left;
    width: 647px;
    height: 494px;
    border: 1px solid transparent;
}
#midr{
    float: right;
    width: 647px;
    height: 494px;
    border: 1px solid transparent;
}
.clearmid{
    clear: both;
}

